{% extends 'base.html' %}
{% block content %}
<div id="errors">
</div>
<textarea id="message" style="max-width: 1500px; margin: auto;" rows="10" cols="100">
</textarea>
<button type="button" onclick="notify()">Разослать</button>
<script>
    function notify() {
        var message = document.getElementById("message").value
        var req = new XMLHttpRequest();
        req.open("POST", '/send_notification', true);
        req.onreadystatechange = function (oEvent) {
            if (req.readyState === 4) {
                if (req.status === 200) {
                    window.location.reload(false);
                } else {
                    document.getElementById("errors").textContent = "Слишком большое сообщение";
                }
            }
        };
        req.setRequestHeader('Content-Type', 'application/json');
        req.send(JSON.stringify({
        'message': message
        }));
    }
</script>
{% endblock %}
