{% extends 'base.html' %}
{% block content %}
<label>
    User
</label>
<input id="username">
<label>
    Sum
</label>
<input id="amount">
<button type="button" onclick="increaseDeposit()">Одобрить</button>
<script>
    function increaseDeposit() {
        var username = document.getElementById('username').value
        var amount = document.getElementById('amount').value

        $.ajax({
          type: "POST",
          url: "/increase_user_deposit",
          dataType: 'text',
          contentType: 'application/json',
          data: JSON.stringify({
                "amount": amount,
                "username": username
          }),
          success: function(msg) {
                alert("Успех");
                window.location.reload();
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('Ошибка: ' + XMLHttpRequest.responseText);
          }
        });

    }
</script>
</body>
</html>
{% endblock %}
