{% extends 'base.html' %}
{% block content %}
<table style="max-width: 1500px; margin: auto;">
    <tr>
        <td style="padding:0 15px 0 15px;">
            <b>
                Username
            </b>
        </td>
        <td style="padding:0 15px 0 15px;">
            <b>
                Wallet
            </b>
        </td>
        <td style="padding:0 15px 0 15px;">
            <b>
                Amount
            </b>
        </td>
        <td style="padding:0 15px 0 15px;">
            <b>
                Date and time
            </b>
        </td>
    </tr>
    <tr>
    {% for withdrawal in withdrawals %}
        <td style="padding:0 15px 0 15px;">
            <a href="https://telegram.me/{{ withdrawal.user.username }}">
                {{ withdrawal.user.username }}
            </a>
        </td>
        <td style="padding:0 15px 0 15px;">{{ withdrawal.user.wallet }}</td>
        <td style="padding:0 15px 0 15px;">{{ withdrawal.amount }}</td>
        <td style="padding:0 15px 0 15px;">{{ withdrawal.created_at.strftime('%Y %B %d %H:%M') }}</td>
        <td>
            <button type="button" onclick="approveWithdrawal({{withdrawal.id}})">Одобрить</button>
        </td>
    </tr>
  {% endfor %}
</table>
<script>
    function approveWithdrawal(id) {
        $.ajax({
          type: "POST",
          url: "/approve_withdrawal",
          dataType: 'text',
          contentType: 'application/json',
          data: JSON.stringify({
                "id": id
            }),
          success: function(msg) {
                alert("Успех");
                window.location.reload();
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('Ошибка: ' + XMLHttpRequest.responseText);
          }
        });
    }
</script>
</body>
</html>
{% endblock %}
